<div ng-if="loggedIn === false">
    <input type="text" ng-model="user.email" placeholder="email" />
    <input type="password" ng-model="user.password" placeholder="password" />
    <button class="btn btn-primary" ng-click="submitLogin()">Login</button>
    <button class="btn btn-primary" ng-click="wantsToSignUp = true">Sign up</button>
    <div ng-if="wantsToSignUp">
        <input type="text" placeholder="name" ng-model="newUser.name" />
        <input type="text" placeholder="email" ng-model="newUser.email" />
        <input type="password" placeholder="password" ng-model="newUser.password" />
        <button ng-click="createUser(newUser)" class="btn btn-primary">Sign up</button>
    </div>
</div>
<div ng-if="loggedIn === true">
    <header class="bar bar-nav">
        <button ng-click="toggleAdminMode()" class="btn pull-left">
            Administration
        </button>
        <button ng-click="logOutUser()" class="btn pull-right">
            Logout
        </button>
    </header>
    <br /><br />
    <br /><br />
    <p ng-if="administrationMode">
        <a href="#" name="individual-category">Create a new category</a>
        <input ng-model = "category.name" type="text" />
        <button class="btn btn-primary" ng-click="submitCategory()">Submit</button>
    </p>
    <p>
        <div ng-if="!categoryRecords">
            <h1>Choose a category to begin</h1>
            <ul class="table-view"  ng-repeat="value in categories track by value.id" ng-if="!categoryRecords">
                <button ng-click="viewRecords(value.id, value.name)" class="table-view-cell btn btn-block"><h2>{{value.name}}</h2><br /><br />
                </button>
            </ul>
            <hr />
        </div>
    </p>
</div>
<div ng-if="categoryRecords">
    <h1>Viewing Records for {{categoryRecords.name}}</h1>
    <!--<div class="col-lg-12 col-md-12 col-sm-12">-->
        <!--<div class="col-lg-3 col-md-3 col-sm-3">-->
           <!--<u>Start Time</u>-->
        <!--</div>-->
        <!--<div class="col-lg-3 col-md-3 col-sm-3">-->
            <!--<u>End Time</u>-->
        <!--</div>-->
        <!--<div class="col-lg-3 col-md-3 col-sm-3">-->
            <!--<u>Total Time</u>-->
        <!--</div>-->
    <!--</div>-->
    <div ng-repeat="value in categoryRecords.data track by $index" class="col-lg-12 col-md-12 col-sm-12">
        <hr />
        <!--<div class="col-lg-3 col-md-3 col-sm-3">-->
            <!--<button ng-click="editingStartVal[value.id] = true" ng-if="!editingStartVal[value.id]" class="btn-link">Started at {{value.start_time | date:'hh:mm:ss a' : -0500}}</button>-->
            <!--<input  type="time" name="time"  ng-if="editingStartVal[value.id] == true" ng-model="value.editedStartTime" ng-value="value.start_time | date:'HH:mm' : -0500" />-->
            <!--<button class="btn-link" ng-if="editingStartVal[value.id] == true" ng-click="editCategoryRecord(value, 'start')">Save</button>-->
            <!--<button class="btn-link" ng-if="editingStartVal[value.id] == true" ng-click="editingStartVal[value.id] = null">Cancel</button>-->
        <!--</div>-->
        <button ng-click="editingStartVal[value.id] = true" ng-if="!editingStartVal[value.id]" class="btn-link"><u>Started at</u> {{value.start_time | date:'hh:mm:ss a' : -0400}}</button>
        <input  type="time" name="time"  ng-if="editingStartVal[value.id] == true" ng-model="value.editedStartTime" ng-value="value.start_time | date:'HH:mm' : -0400" />
        <button class="btn btn-primary" ng-if="editingStartVal[value.id] == true" ng-click="editCategoryRecord(value, 'start')">Save</button>
        <button class="btn btn-danger" ng-if="editingStartVal[value.id] == true" ng-click="editingStartVal[value.id] = null">Cancel</button>
<br /><br />
        <button class="btn-link" ng-click="editingEndVal[value.id] = true" ng-if="!editingEndVal[value.id] && value.end_time != null"><u>Ended at</u> {{value.end_time | date:'hh:mm:ss a' : -0400}}</button>
        <button class="btn btn-link" ng-click="editingEndVal[value.id] = true" ng-if="!editingEndVal[value.id] && value.end_time == null">Enter End Time</button>
        <input type="time" name="time" ng-if="editingEndVal[value.id] == true" ng-model="value.editedEndTime" ng-value="value.end_time | date:'HH:mm' : -0400" />
        <button class="btn btn-primary" ng-if="editingEndVal[value.id] == true" ng-click="editCategoryRecord(value, 'end')">Save</button>
        <button class="btn btn-danger" ng-if="editingEndVal[value.id] == true" ng-click="editingEndVal[value.id] = null">Cancel</button>
        <br /><br />
        <h2><u>Total Time</u><br />{{value.total_time}}</h2>
        <br /><br />
        <button class="btn btn-danger" ng-click="deleteEntry(value.id)">Remove</button>
        <!--<div class="col-lg-3 col-md-3 col-sm-3"   >-->
            <!--<button class="btn-link" ng-click="editingEndVal[value.id] = true" ng-if="!editingEndVal[value.id] && value.end_time != null">Ended at {{value.end_time | date:'hh:mm:ss a' : -0500}}</button>-->
            <!--<button class="btn btn-link" ng-click="editingEndVal[value.id] = true" ng-if="!editingEndVal[value.id] && value.end_time == null">Enter End Time</button>-->
            <!--<input type="time" name="time" ng-if="editingEndVal[value.id] == true" ng-model="value.editedEndTime" ng-value="value.end_time | date:'HH:mm' : -0500" />-->
            <!--<button class="btn-link" ng-if="editingEndVal[value.id] == true" ng-click="editCategoryRecord(value, 'end')">Save</button>-->
            <!--<button class="btn-link" ng-if="editingEndVal[value.id] == true" ng-click="editingEndVal[value.id] = null">Cancel</button>-->
        <!--</div>-->
        <!--<div class="col-lg-3 col-md-3 col-sm-3">{{value.total_time}}</div>-->

    <hr />
    </p>
    </div>
</div>
<hr />
<div ng-if="loggedIn">

</div>